body {
  background: black;
  text-align: center;
  font-family: verdana;
  color: white;
}
.links {
  color: aquamarine;
  font-size: 16px;
}
h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
